## MODE
NODE_ENV=development


COOKIE_SECRET=dev-cookie-secret-change-in-production
CORS_ORIGIN=podologia-anapaula.alwaysdata.net

## DATABASE condigs
DATABASE_URL=mysql://username:password@link_do_Banco:3306/podologia-anapaula_bd

## JWT configs
JWT_ACCESS_SECRET=your-access-token-secret-here
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
JWT_REFRESH_SECRET=your-refresh-token-secret-here

## WhatsAPP configs
WHATSAPP_ACCESS_TOKEN=insert-token-here
WHATSAPP_PHONE_NUMBER_ID=insert-id-here
WHATSAPP_WEBHOOK_VERIFY_TOKEN=insert-verify-here
WHATSAPP_APP_SECRET=insert-secrete-here